* {
    margin: 0;
    padding: 0;
}

:root {
    --main : #8C1007;
    --screen : #FFF0C4;
    --drawing : #3E0703;
}

body {
    background-color: #FFF0C4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #555454;
    color: white;
    height: 50px;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.sketch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    background-color: var(--main);
    padding-top: 50px;
}

.btn {
    margin-top: 1rem;
    width: 100%;
    max-width: max-content;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: 2px solid var(--drawing);
    background-color: var(--screen);
    font-weight: bold;
    transition: all 0.2s;
}

.btn:hover {
    background-color: var(--drawing);
    color: var(--screen);
    outline: 2px solid var(--screen);
}

.btn:active {
    background-color: var(--main);
    transition: none;
}

.sketch-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    height: 600px;
    background-color: white;
}

.sketch-screen > div {
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.sketch-screen > div > * {
    flex: 1;
}

.sketch-screen > div > .active {
    background-color: var(--drawing);
}

.slidecontainer {
    color: white;
    font-size: large;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: fit-content;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}